/*Set the background color of your header div in HTML-1 to a dark color and change the text color to a light color.
Set your header div to take up the entire width of a page, with no edge spacing
Ensure all elements are vertically centered within the header block.
Your name should be to the left, and your image to the right.
Your elements should wrap when your page size changes.
Your header should have fifteen pixels of space between it and your content div.
When your page is compressed, your elements should center themselves horizontally.*/

/* || General setup */

  html {
    font-size: 10px;

  }
  
  body {
   
    background-color: #FDF5E6;

  
  }
/* || header layout */

.tophead {
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-evenly;

  }
  .image {
    text-align:center;
  }
  img {
    vertical-align:top;
    max-width: 300px;
    max-height: 300px;
    flex-wrap: wrap;

  }
  


    
  
  
  /* https://stackoverflow.com/questions/50243239/flexbox-image-on-the-right-side */


  /* || Body layout */

 .wrapper{ 
    display: flex;
    align-items: center;
    flex-direction: column;
 }

  .content{
   display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
 .personal{
    width: 175px;
    flex: 0 1 auto;
    margin-right: 15px;

    }

 .personal > img{
    border-radius: 4px;
    border: 1px solid #000;
    width: inherit;

 }
  .resume{
    flex: 0 2 auto;
    box-sizing: content-box;
    /* border: solid #FDF5E6 10px; */
    background-color: white;
    /* border-top-width: 0px; */
    padding: 15px;
  
  }
  
  .mycaption {
    box-sizing: content-box;
    /* border: solid #FDF5E6 10px; */
    background-color: white;
    flex: 0 1 auto;
    
  }
  h1{
      color: aqua;
      font-size: 4em;

  }
h2{
    font-family: 'Oswald' ;
    font-size: 3rem;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}
h4{
    margin-block-end: 0.1em;
font-style: italic;
}
@media all and (max-width: 1000px) {
   
    .content{
        justify-content: center;
    }
    .personal{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 0 auto;
        justify-content: space-evenly;
        align-items: center;
    }
    
  }