<div class="wrapper">

            <div class= "generic">
                <div class="personal">
                    <img src="family_friendly.png" alt="professional (not really) falcon" >
    
                </div>
                <div class="Summary">
                   <caption> <p>Creative problem-solver that has three years of
                     professional technical experience. Team player that makes collaborating and 
                     establishing open channels of communication with peers and mentors a priority.
                     Seeking to advance expertise in team leadership and cloud
                    computing by taking the opportunity to learn as much as possible from every project.   </p>
                   </caption>
                </div>
                <div class="resume">
                    <caption> <p>Creative problem-solver that has three years of
                        professional technical experience. Team player that makes collaborating and 
                        establishing open channels of communication with peers and mentors a priority.
                        Seeking to advance expertise in team leadership and cloud
                       computing by taking the opportunity to learn as much as possible from every project.   </p>
                      </caption>


                </div>


        </div>

    </div>