html{
    background-color: grey;
}
.wrapper{
    display: flex;
    justify-content: center;

}

form {


    }

button {
    width: 80%;
    background-color: rgb(201, 113, 209);
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;

}

input, textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1 {
width: 100%;
}